:root {
    --bg-color: #111216;
    --text-color: #fff;
    --text-color-basic: #767d88;
    --text-color-hover: #ffd07f;
    --bg-mode-color: #818181;
    --bg-mode-color-hover: rgb(47, 51, 54);
}

/* Format pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.clear {
    clear: both;
}

/* Xác định trang đang đứng */
.nav-under {
    color: var(--text-color) !important;
}

.nav-under::after {
    /* Hiệu ứng gạch chân */
    left: 0 !important;
    opacity: 1 !important;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Main */

/* header */
#header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: var(--bg-color);
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
#header .logo-header {
    width: 150px;
}

/* navigation */
#header .nav-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
}

#header .nav-header li {
    padding: 0 16px;
}

#header .nav-header li a {
    text-decoration: none;
    color: var(--text-color-basic);
    width: fit-content;
    position: relative;
}

#header .nav-header li a:hover {
    color: var(--text-color-hover);
}

/* Hiệu ứng gạch chân */
#header .nav-header li a::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--text-color-hover);
    opacity: 0;
    bottom: -5px;
    left: -20px;
    transition: .5s;
}

#header .nav-header li a:hover::after {
    opacity: 1;
    left: 0;
}

/* dark and light mode */
#header .mode {
    width: 150px;
}

#header .light-mode {
    color: var(--text-color);
    font-size: 18px;
    padding: 10px;
    background: var(--bg-mode-color);
    border-radius: 50%;
    margin: 20px 0;
    float: right;
}

#header .light-mode:hover {
    background-color: var(--bg-mode-color-hover);
    color: var(--text-color-hover);
    cursor: pointer;
}