:root {
    --bg-color: #111216;
    --bg-mode-color: #818181;
    --bg-mode-color-hover: rgb(47, 51, 54);
    --bg-notifications-info: #272A33;
    --bg-noti-light: #efeff0;
    --text-color: #fff;
    --text-color-basic: #767d88;
    --text-color-hover: #ffd07f;
    --text-color-logo: #fca65f;
}

/* Format pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.clear {
    clear: both;
}



.show {
    opacity: 1 !important;
    top: 0 !important;
    transition: all .8s linear;
    transform: translateX(0) !important;
}

/* light mode */
/* header */
.light {
    background: var(--text-color) !important;
}

.text-light {
    color: var(--bg-color) !important;
}

.text-light-hover:hover {
    color: var(--bg-color) !important;
}

/* banner */
.banner-light {
    background: url(/assets/img/banner/banner-light.jpg) top / cover no-repeat !important;
}

.banner-text-light {
    color: var(--bg-notifications-info) !important;
    text-shadow: 2px 2px 5px var(--text-color-hover);
}

.banner-text-black-light {
    color: var(--bg-color) !important;
}

/* background */
.staff-background-light {
    background: var(--text-color) !important;
}

/* regency */
.regency-title-light {
    color: var(--bg-color) !important;
}

.regency-name-light {
    color: var(--bg-notifications-info) !important;
}

.manager-department-light:hover {
    background: var(--bg-noti-light) !important;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);

}

/* Main Content */
body {
    height: max-content;
}

/* header */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: var(--bg-color);
    /* background: white; */
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/* logo */
#header .logo-header {
    width: 150px;
}

/* navigation */
#header .nav-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
}

#header .nav-header li {
    padding: 0 16px;
}

#header .nav-header li a {
    text-decoration: none;
    color: var(--text-color-basic);
    width: fit-content;
    position: relative;
}

#header .nav-header li a.nav-under:hover,
#header .nav-header li a.nav-under {
    color: var(--text-color);
}

#header .nav-header li a.nav-under::after {
    /* Hiệu ứng gạch chân  */
    left: 0;
    opacity: 1;
}

/* Xác định trang đang đứng */
/*  */

/**/

#header .nav-header li a:hover {
    color: var(--text-color-hover);
}

/* Hiệu ứng gạch chân */
#header .nav-header li a::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--text-color-logo);
    opacity: 0;
    bottom: -5px;
    left: -20px;
    transition: .5s;
}

#header .nav-header li a:hover::after {
    opacity: 1;
    left: 0;
}

/* dark and light mode */
#header .mode {
    width: 150px;
}

#header .light-mode {
    color: var(--text-color);
    font-size: 18px;
    padding: 10px;
    background: var(--bg-mode-color);
    border-radius: 50%;
    margin: 20px 0;
    float: right;
    transition: 0.2s;
}

#header .light-mode:hover {
    background-color: var(--bg-mode-color-hover);
    color: var(--text-color-hover);
    cursor: pointer;
}

#header .dark-mode {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: var(--text-color-logo);
    color: var(--text-color-basic);
    float: right;
}

#header .dark-mode:hover {
    cursor: pointer;
    background: var(--text-color-hover);
    color: var(--bg-notifications-info);
    transition: all 0.2s linear;
}



/* #main {} */

/* Banner */
#banner {
    margin-top: 100px;
    font-size: 56px;
    background: url(/assets/img/banner/banner.jpg) top / cover no-repeat;
    padding: 85px 0;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
}

/* Staff */
#staff {
    padding: 30px 0;
    background: var(--bg-color);
}

/* Regency */
#staff .regency:not(:first-child) {
    margin-top: 150px;
}

#staff .regency:first-child {
    margin-top: 50px;
}

#staff .regency-title {
    width: max-content;
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color);
    padding: 50px 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    opacity: 0;
}

#staff .regency-title.fisrt {
    top: 0;
    opacity: 1;
}

#staff .regency-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--text-color-logo);
    left: 0;
    bottom: 35%;
}

/* Element of regency */
#staff .helper,
#staff .admin,
#staff .owner {
    display: flex;
    justify-content: center;
    column-gap: 120px;
}

#staff .helper,
#staff .admin {
    transform: translateX(-150px);
}

#staff .manager {
    display: grid;
    grid-template-columns: auto auto auto;
    transform: translateX(-150px);
}

/* Item of elements in regency */
#staff .manager-item,
#staff .helper-item,
#staff .admin-item,
#staff .owner-item {
    width: 12rem;
}

/* Images of items in element regency */
#staff .manager-img,
#staff .helper-img,
#staff .admin-img,
#staff .owner-img {
    width: 100%;
}

/* Name of items in regency */
#staff .manager-name,
#staff .helper-name,
#staff .admin-name,
#staff .owner-name {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color-basic);
}

/* Title of department in regency manager */
#staff .manager-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 auto;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: max-content;
    position: relative;
    text-shadow: 5px 5px 5px var(--text-color-basic);
}

#staff .manager-title::after {
    content: "";
    position: absolute;
    left: -100px;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: var(--text-color-logo);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* manager body in items manager */
#staff .manager-body {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
}

/* Handle event in manager */
/* Changes background of departments */
#staff .manager-ninjaschool:hover,
#staff .manager-skyblock:hover,
#staff .manager-survival:hover {
    background: var(--bg-mode-color);
    transition: all .2s linear;
}

/* Change name department */
#staff .manager-ninjaschool:hover .manager-title,
#staff .manager-skyblock:hover .manager-title,
#staff .manager-survival:hover .manager-title {
    text-shadow: 3px 3px 2px var(--bg-notifications-info);
}

#staff .manager-ninjaschool:hover .manager-title::after,
#staff .manager-skyblock:hover .manager-title::after,
#staff .manager-survival:hover .manager-title::after {

    opacity: 1;
    left: 0;
}

/* Change name regency */
#staff .manager-ninjaschool:hover .manager-name,
#staff .manager-skyblock:hover .manager-name,
#staff .manager-survival:hover .manager-name,
#staff .manager-img:hover+.manager-name,
#staff .helper-img:hover+.helper-name,
#staff .owner-img:hover+.owner-name,
#staff .admin-img:hover+.admin-name {
    color: var(--text-color);
    transition: all .2s linear;
}

/* Handle event for img when you hover in img of items */
#staff .manager-img:hover,
#staff .helper-img:hover,
#staff .owner-img:hover,
#staff .admin-img:hover {
    scale: 1.1;
    /* transform: translateY(-30px); */
    transition: all .2s linear;
    cursor: pointer;
}

/* footer */
#footer {
    background: var(--bg-color);
    padding: 50px 150px;
}

#footer .contact-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bg-notifications-info);
    padding: 20px 0;
}

#footer .contact-footer .logo-footer {
    width: 150px;
}

#footer .contact-footer a {
    text-decoration: none;
    font-size: 40px;
    color: var(--text-color-basic);
}

#footer .contact-footer a:hover {
    color: var(--text-color);
    scale: 1.1;
}

#footer .cre-footer {
    color: var(--text-color-basic);
    padding-top: 25px;
    font-size: 12px;
}